
star-db/.idea/.idea.star-db/riderModule.iml
star-db/.idea/.idea.star-db/.idea/workspace.xml
star-db/.idea/.idea.star-db/.idea/vcs.xml
star-db/.idea/.idea.star-db/.idea/modules.xml
star-db/.idea/.idea.star-db/.idea/misc.xml
star-db/.idea/.idea.star-db/.idea/indexLayout.xml
star-db/.idea/.idea.star-db/.idea/encodings.xml
star-db/.idea/.idea.star-db/.idea/contentModel.xml
star-db.DotSettings.user
